[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "testpypi"

[packages]
pytest = "*"
pytest-mock = "*"
popmessage = {version = "==0.0.2", index = "testpypi"}
kivy = {extras = ["base"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
